header {
  background:yellow;
  padding: 20px, 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}


footer {
  text-align: center;
  background: #000000;
  padding: 40px 0;
}
.copyright {
  color: #FFFFFF;
  fontsize: 13px;
  margin: 20px 0 0;
}
main {
  width: 940px;
  margin: 0 auto;
}
form {
  margin: 40px 0;
}
form label {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}
form input {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.enviar {
  widht: 40%;
  padding: 15px 0px;
  background: yellow;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
.enviar:hover {
  background:darkyellow;
  transform: scale(1.2);
}
